@font-face {
    font-family: 'MyWebFont';
    src:  url('myfont.woff2') format('woff2'),
    url('myfont.woff') format('woff');
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../img/background.jpg) */

.business-header {
    height: 400px;
    background: url('/shareio/img/home-road.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

.navbar-nav {
    float: right;
}

.fa-user {
    padding-top: 15px;
    color: #9D9D9D;
    font-size: 20px;
    margin-left: 20px;
}

.fa-power-off {
    padding-top: 15px;
    color: #9D9D9D;
    font-size: 20px;
    margin-left: 15px;
}

.panel-green {
    border-color: #8DC63F;
    margin-top: 3em;
}

.panel-green .panel-heading {
    background: #8DC63F;
}

.panel-green .panel-heading h3 {
    font-size: 20px;
    color: white;
}

.list-group h3 {
    margin-top: 5px;
}

.center-align {
    text-align:center;
}