<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body>

<div th:replace="fragments/nav :: nav"/>

<header class="business-header">
</header>

<div class="container">

    <hr/>

    <div class="row indexContent">
        <div class="col-sm-8">
            <h2 class="textIndex">Ce face aplicatia?</h2>
            <p class="textIndex">Mergi undeva cu masina si ai vrea sa oferi locurile libere pentru a economisi banii de carburant?</p>
            <p class="textIndex">Vrei sa mergi undeva la un pret convenabil intr-un timp mai scurt decat mijloacele de transport in comun?</p>

            <p class="textIndex">Shareio ajuta la interconectarea conducatorilor auto cu pasagerii care au acelasi drum. </p>
            <p class="textIndex">In acest mod se economisesc bani de ambele parti, nu vei mai calatori singur si vei avea parte de companie pe parcursul drumului.</p>

            <hr/>

            <!--<a class="btn btn-default btn-lg" th:href="@{/ride/list}">Vezi curse &raquo;</a>-->
        </div>
        <div class="col-sm-4">
            <h2 class="textIndex searchRideMarginLeft">Cauta o cursa</h2>
            <form th:action="@{/ride/list}" th:method="GET" th:object="${searchRideModel}">
                <input type="text" class="form-control searchRideInput" name="departure" th:value="${searchRideModel.departure}" placeholder="De la"/>
                <input type="text" class="form-control searchRideInput" name="destination" th:value="${searchRideModel.destination}" placeholder="Pana la"/>
                <button type="submit" class="btn btn-success searchRideMarginLeft">Cauta</button>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>

</html>
