<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body>

<div th:replace="fragments/nav :: nav"/>

<div class="container">

    <div class="panel panel-green margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title">Add a ride</h3>
        </div>
        <div class="panel-body">
            <form th:action="@{/ride/add/}" method="post" th:object="${ride}">
                <div th:if="${ride.idRide} != null">
                    <input type="text" name="idRide" th:value="${ride.idRide}" style="display: none"/>
                </div>
                <input type="text" id="datetimepickerinput" th:value="${ride.departureTime}" style="display: none;"/>
                <div class="form-group">
                    <label for="departure">Plecare</label>
                    <input type="text" class="form-control" id="departure" name="departure" placeholder="Plecare" th:value="${ride.departure}"/>
                </div>

                <div class="form-group">
                    <label for="destination">Destinatie</label>
                    <input type="text" class="form-control" id="destination" name="destination" placeholder="Destinatie" th:value="${ride.destination}"/>
                </div>

                <div class="form-group">
                    <label for="datetimepicker">Data plecare</label>
                    <div class='input-group date' id='datetimepicker'>
                        <input type='text' class="form-control" name="departureTime"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="destination">Pret</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Pret" th:value="${ride.price}"/>
                </div>

                <div class="form-group">
                    <label for="kilometers">Distanta</label>
                    <input type="number" class="form-control" id="kilometers" name="kilometers" placeholder="Kilometrii" th:value="${ride.kilometers}"/>
                </div>

                <div class="form-group">
                    <label for="availableSeats">Locuri disponibile</label>
                    <input type="text" id="availableSeatsValue" th:value="${ride.availableSeats}" style="display: none"/>
                    <select class="form-control" name="availableSeats" id="availableSeats">
                        <option id="1">1</option>
                        <option id="2">2</option>
                        <option id="3">3</option>
                        <option id="4">4</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="availableInsteadStorage">Marime maxima bagaje</label>
                    <input type="text" id="availableInsteadStorageValue" th:value="${ride.availableInsteadStorage}" style="display: none"/>
                    <select class="form-control" name="availableInsteadStorage" id="availableInsteadStorage">
                        <option id="Mic">Mic</option>
                        <option id="Mediu">Mediu</option>
                        <option id="Mare">Mare</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>

<script>
    $( document ).ready(
            function buildSelect() {
                //if is on edit must be selected the right value by default
                var selectSeats = $('#availableSeatsValue');
                if(selectSeats[0].value != '') {
                    var option = $('#' + selectSeats[0].value);
                    option[0].selected = true;
                }
                var selectStorage = $('#availableInsteadStorageValue');
                if(selectStorage[0].value != '') {
                    var option = $('#' + selectStorage[0].value);
                    option[0].selected = true;
                }
            }
    );


    $(function () {
        $('#datetimepicker').datetimepicker({
            defaultDate: $('#datetimepickerinput')[0].value,
            minDate : moment()
        });
    });
</script>

</html>
