<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body>

<div th:replace="fragments/nav :: nav"/>

<div class="container">

    <div class="panel panel-green margin-bottom-container">
        <div class="panel-body">
            <form th:action="@{/ride/list}" th:method="GET" th:object="${searchRideModel}">
                <div th:if="${#httpServletRequest.requestURI} != '/shareio/ride/myList'" class="row marginBottom">
                    <div class="col-lg-5">
                        <input type="text" class="form-control searchRideInput" name="departure" th:value="${searchRideModel.departure}" placeholder="De la"/>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control searchRideInput" name="destination" th:value="${searchRideModel.destination}" placeholder="Pana la"/>
                    </div>
                    <div class="col-lg-2 marginTop">
                        <button type="submit" class="btn btn-success searchRideMarginLeft buttonFullWidth">Cauta</button>
                    </div>
                </div>
            </form>
            <ul class="list-group">
                <li class="list-group-item" th:each="ride : ${rideListPage.content}">
                    <div class="row">
                        <div class="col-lg-3 driverPanel">
                            <div class="panel-body">
                                <div>
                                    <img class="driverImage" th:src="@{/img/driver-male-72.png}"/>
                                    <a data-toggle="tooltip" th:title="'Nume:' + ${ride.user.firstName} + ' Email:' + ${ride.user.email} + ' Telefon:' + ${ride.user.telephone}"><span class="marginLeft" th:text="${ride.driverName}"> </span> </a>
                                </div>
                                <div class="marginTop3em">
                                    <span>Masina: &nbsp;</span>
                                    <a data-toggle="tooltip" th:title="'Confort: ' + ${ride.carComfort}"><span th:text="${ride.carName}"> </span></a>
                                </div>
                                <!--<div class="marginTop">-->
                                    <!--<span>Rating: &nbsp;</span><span th:text="${ride.rating}"> </span>-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <div class="panel-heading rideDirections">
                                <span th:text="${ride.departure}"> </span> <span class="fa fa-arrow-right"></span> <span th:text="${ride.destination}"> </span>
                                <a th:if="${#httpServletRequest.requestURI} == '/shareio/ride/myList'" th:href="@{/ride/__${ride.idRide}__}" class="fa fa-pencil editRide" aria-hidden="true"></a>
                            </div>
                            <div class="panel-body rideListDetails">
                                <i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; &nbsp; <span th:text="${ride.departureTime}"> </span>
                                <br/>
                                <i class="fa fa-road" aria-hidden="true"></i> &nbsp; &nbsp; <span th:text="${ride.distance}"> &nbsp; km </span>
                                <br/>
                                <i class="fa fa-money" aria-hidden="true"></i> &nbsp; &nbsp; <span th:text="${ride.price}"> </span>
                                <br/>
                                <i class="fa fa-male" aria-hidden="true"></i> &nbsp; &nbsp; &nbsp; <span th:text="${ride.availableSeats}"> </span>
                                <br/>
                                <i class="fa fa-suitcase" aria-hidden="true"></i> &nbsp; &nbsp; <span th:text="${ride.availableInsteadStorage}"> </span>
                                <div class="rideReservation">
                                    <a th:if="${#httpServletRequest.requestURI} != '/shareio/ride/myList'" th:href="@{/ride/reserve/__${ride.idRide}__}">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; <span>Rezerva acum!</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
            <div th:replace="fragments/pagination :: paginationbar(${rideListPage})"></div>
        </div>
    </div>


</div>

<div th:replace="fragments/footer :: footer"/>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>

</html>
