<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body>

<div th:replace="fragments/nav :: nav"/>

<div class="container">

    <div class="panel panel-green margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title">Rides</h3>
        </div>
        <div class="panel-body">
            <!--<table class="table table-hover table-bordered">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th class="center-align">Plecare</th>-->
                    <!--<th class="center-align">Destinatie</th>-->
                    <!--<th class="center-align">Data plecare</th>-->
                    <!--<th class="center-align">Pret</th>-->
                    <!--<th class="center-align">Distanta</th>-->
                    <!--<th class="center-align">Locuri disponibile</th>-->
                    <!--<th class="center-align">Marime maxima bagaje</th>-->
                    <!--<th class="center-align">Edit</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr class="center-align" th:each="ride : ${rideList}">-->
                    <!--<td th:text="${ride.departure}"></td>-->
                    <!--<td th:text="${ride.destination}"></td>-->
                    <!--<td th:text="${ride.departureTime != null ? #dates.format(ride.departureTime, 'dd MMM HH:mm') : ''}"></td>-->
                    <!--<td th:text="${ride.price}"></td>-->
                    <!--<td th:text="${ride.kilometers}"></td>-->
                    <!--<td th:text="${ride.availableSeats}"></td>-->
                    <!--<td th:text="${ride.availableInsteadStorage}"></td>-->
                    <!--<td>-->
                        <!--<div th:if="${ride.idRide} != null">-->
                            <!--<input type="text" name="idRide" th:value="${ride.idRide}" style="display: none"/>-->
                        <!--</div>-->
                        <!--<a th:href="@{/ride/__${ride.idRide}__}">-->
                            <!--<button type="button" class="btn btn-sm btn-primary"><span class="fa fa-pencil-square-o"/></button>-->
                        <!--</a>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
            <ul class="list-group">
                <li class="list-group-item" th:each="ride : ${rideList}">
                    <div class="row">

                        <div class="col-lg-3" style="border-right: 1px solid #DDD;">
                            <div class="panel-body">
                                <div>
                                    <img th:src="@{/img/driver-male-72.png}" width="72" height="72" style="border-radius: 50px;"/>
                                    <span th:text="${ride.driverName}" style="margin-left: 2em;"> </span>
                                </div>
                                <div style="margin-top: 1em">
                                    <span>Masina: &nbsp;</span>
                                    <a data-toggle="tooltip" th:title="'Confort: ' + ${ride.carComfort}"><span th:text="${ride.carName}"> </span></a>
                                </div>
                                <div style="margin-top: 1em">
                                    <span>Rating: &nbsp;</span><span th:text="${ride.rating}"> </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <div class="panel-body">
                                <span th:text="${ride.departure}"> </span> -> <span th:text="${ride.destination}"> </span>
                                <div th:text="${ride.departureTime}"> </div>
                                <div th:text="${ride.distance}"> </div>
                                <div th:text="${ride.price}"> </div>
                                <div th:text="${ride.availableSeats}"> </div>
                                <div th:text="${ride.availableInsteadStorage}"> </div>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>

<div th:replace="fragments/footer :: footer"/>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>

</html>
