<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body>

<div th:replace="fragments/nav :: nav"/>

<div class="container">

    <div class="panel panel-green margin-bottom-contaier">
        <div class="panel-heading">
            <h3 class="panel-title">Adauga o masinar</h3>
        </div>
        <div class="panel-body">
            <form th:action="@{/car/add/}" method="post" th:object="${car}">
                <div th:if="${car.idCar} != null">
                    <input class="invisible" type="text" name="idCar" th:value="${car.idCar}"/>
                </div>
                <div class="form-group">
                    <label for="manufacturer">Manufacturer</label>
                    <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Manufacturer" th:value="${car.manufacturer}"/>
                </div>

                <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model" placeholder="Model" th:value="${car.model}"/>
                </div>

                <div class="form-group">
                    <label for="comfort">Comfort</label>
                    <input class="invisible" type="text" id="comfortValue" th:value="${car.comfort}"/>
                    <select class="form-control" name="comfort" id="comfort">
                        <option id="Scazut">Scazut</option>
                        <option id="Normal">Normal</option>
                        <option id="Ridicat">Ridicat</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>

<script>
    $( document ).ready(
    function buildSelect() {
        //if is on edit must be selected the right value by default
        var select = $('#comfortValue');
        if(select[0].value != '') {
            var option = $('#' + select[0].value);
            option[0].selected = true;
        }
    });

</script>

</html>
